body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.interfaceContainer {
    width: 100%;
    height: 15rem;
    background-color: rgb(227, 251, 255);
    border: 1px solid red;
}

.picker {
    display: flex;
}

.babylon {
    width: 90%;
}