body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro {
    height: 60rem;
    width: 100%;
    background-color: rgb(176, 229, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interfaceContainer {
    width: 100%;
    height: 15rem;
    background-color: rgb(227, 251, 255);
    border: 1px solid red;
}

.picker {
    display: flex;
}

.img-picker {
    margin-right: 10px;
}

.babylon {
    width: 90%;
}